*{
    color: #545454;
    font-family:'Open Sans', sans-serif;
}

a{
     color: #545454;
}

a:hover {
    color: #D9594C;
}

#maincon {
    margin:0;
    padding:0;
}

/*Nav Bar*/
.navbar {
    background-color: grey;
    border-radius: 10px;
}

/* Jumbotron */
.jumbotron {
    background-color: white;
    border-radius: 10px;
}

.jumbotron h1{
    font-family:'Open Sans', sans-serif;
}

.jumbotron p:nth-child(2){
    font-family: 'Raleway', sans-serif;
}

/* Buttons */
.btn {
    background-color:#D9594C;
    border-color:#D9594C;
    text-transform: uppercase;
    color:white;
}

.btn:hover{
    background-color: #595F72;
    border-color:#595F72;
}

/*Map*/
.mainmap {
    border: 2px solid #D9594C;
    box-shadow: -2px 5px 10px 5px rgba(0, 0, 0, .2);
}

/* Cards */
.card {
    border-color:;
}

.fab:hover {
    
}

.groupon {
    background-color: #b0f442;
}

/*Footer */
#foot{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.page-footer{
    margin:40px;
}