*{
    font-family:'Open Sans', sans-serif;
}

body {
    background-color:#F7B733;
}

a{
     color: #545454;
}

a:hover {
    color: #fc503a;
}

#maincon {
    margin:0;
    padding:0;
}

/*Title Banner*/
.override .titlebanner {
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    font-size: 4.5rem;
    background-color: #4ABDAC;
    text-transform: uppercase;
    text-decoration: underline;
    color: #F7B733;
}

.override .bannerleft{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.override .bannerright{
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*Nav Bar*/
.navbar {
    background-color:#fc503a;
    position:fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, .2);
}

.nav-link {
    text-transform: uppercase;
    position: relative;
    text-decoration:none;
    color:white;
}

.nav-link:hover {
    color:white;
}

.override .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.override .nav-link:hover:before {
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.groupon {
    width:9rem;
    padding: 0;
    margin:0;
}

/*Responsive Article Gallery*/

.cssrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin: 15px 0px;
  vertical-align: middle;
  width:90%;
  height:auto;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Jumbotron */
.jumbotron {
    background-color: rgba(0,0,0,0);
}

.jumbotron h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}

.jumbotron h3 {
    font-family:'Montserrat',sans-serif;
    font-style: italic;
}

.jumbotron p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
}

/*Accordian*/
.override .cordbtn {
    font-family: 'Montserrat', sans-serif;
    position:relative;
    font-weight:700;
    font-size:2rem;
    text-decoration: none;
    background-color:rgba(0,0,0,0);
    border:none;
    color: rgb(33,37,41);
} 

.override .cordbtn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.override .cordbtn:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.override #accordion .list-group-item{
    background-color: rgba(0,0,0,0);
    border:none;
}
.override #accordion .card{
    background-color: rgba(0,0,0,0);
    border:none;
}

/* Buttons */
.btn {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    background-color:#4ABDAC;
    border: 1px solid #4ABDAC;
    text-transform: uppercase;
    color: rgb(33,37,41);
}

.btn:hover{
    background-color: rgba(0,0,0,0);
    border: 1px solid #4ABDAC;
}

/*Modal*/
.modal-header {
    justify-content: flex-start
}

.modal-header .close{
    margin:5px 20px;
    padding:0;
}

/*Map*/
.mainmap {
    border: 2px solid #D9594C;
    box-shadow: -2px 5px 10px 5px rgba(0, 0, 0, .2);
}

/* Cards */
blogcard,
.card {
    border-color:;
	color:none;
}

.override .blogcard > img{
    overflow: hidden;
}

.override .bloglay .card-title a{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-style:italic;
    color: #D9594C;
    text-transform:uppercase;
}

.override .bloglay > p {
    color: white;
}

.override .bloglay {
    opacity: 0;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
}

.override .bloglay:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blogcard {
    border:0;
}

/*Instagram Feed*/

.override .instafeed .thumbnail{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .5);
}

/*Footer */
.override .foot{
    background-color:#fc503a;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .5);
    color:white;
}

.override .foot a{
    color:white;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube{
    color: #4ABDAC;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.list-inline-item a:hover{
    color: #F7B733;
}